name: Code Review

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main  # Thêm các nhánh bạn muốn kích hoạt code review
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  code-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: anc95/ChatGPT-CodeReview@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          # Optional
          LANGUAGE: Vietnamese  # Đổi ngôn ngữ sang tiếng Việt
          OPENAI_API_ENDPOINT: https://api.openai.com/v1
          MODEL: gpt-3.5-turbo
          PROMPT: "Vui lòng kiểm tra và đề xuất cải thiện cho các thay đổi code sau:"
          top_p: 1
          temperature: 0.5  # Giảm xuống để có kết quả ổn định hơn
          max_tokens: 5000
          MAX_PATCH_LENGTH: 10000